#large-head {
    font-size: 200px;
}

.large-mono {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.xtraLarge-mono {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-style: bold;
}

* {
    text-align: center;
    list-style-position: inside;
}

p, li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.bckgrColor {
    background-color: black;
    color: white;
}