html {
    background-color: slategray;
}

.top-panel {
    background-color: honeydew;
    margin: 10px 550px;
}

.content-panel {
    display: flexbox;
    background-color: honeydew;
    padding: 10px;    
    margin: 20px auto;
    border: dashed 5px slategray;
    width: fit-content;
}

.panel {
    background-color: honeydew;
    padding: 10px;
    margin: 20px 0px;
    border: dashed 5px slategray;
    width: fit-content;
}

.content-panel .content-panel {
    display: flexbox;
    background-color: rgb(201, 214, 201);
    border: dotted 3px honeydew;
    width: fit-content;
    margin: 10px;
}

.panel .content-panel {
    display: flexbox;
    background-color: rgb(201, 214, 201);
    border: dotted 3px honeydew;
    margin: 10px;
    padding-right: 20%;
}

#large-head {
    font-size: 100px;
    padding: 10px;
    border: solid 10px black;
    text-align: center;
}

.large-mono {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.xtraLarge-mono {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-style: bold;
}

p, li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px;
}

.content-panel p {
    display: flexbox;
    width: fit-content;
    margin: 10px auto;
}